.bookTitle {
  font-size: 1.2rem;
  margin: 1rem 0 0 0;
  color: #474645;
  transition: all 0.4s ease-in-out;
}

.bookTitle > span {
  &:before {
    color: #474645;
    position: relative;
    top: 2px;
    left: 0;
    background-image: url(/images/book.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    content: " ";
    width: 1rem;
    height: 1rem;
    display: inline-block;
    margin-right: 0.5rem;
  }
}

.bookTitle > a {
  color: #474645;

  transition: all 0.4s ease-in-out;

  &:hover {
    margin-left: 1rem;
  }

  &:before {
    color: #474645;
    position: relative;
    top: 2px;
    left: 0;
    background-image: url(/images/book.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    content: " ";
    width: 1rem;
    height: 1rem;
    display: inline-block;
    margin-right: 0.5rem;
  }
}
