.bookShelf {
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #382e31;
  transform: rotate(90deg);
}

.bookShelf h2 {
  color: #382e31;
  font-weight: 400;
  margin: 1rem 0;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  text-align: center;
}

.book {
  cursor: pointer;
  display: flex;
  justify-content: center;
  transition: all 0.5s ease-in-out;
  background-color: #f8c025;
  border-radius: 5% / 50%;
  padding: 1rem;
  margin: 0.1rem;
  min-width: 200px;
  border-color: #382e31;
  border-style: solid;
  border-width: 2px 4px;
  color: #382e31;
}

.book:hover {
  background-color: #688db6;
  color: #fafafa;
  transform: scale(1.1);
}

.book:hover {
  background-color: #688db6;
  color: #fafafa;
  transform: scale(1.1);
}

.bookTitle {
  font-size: 1.5rem;
  font-weight: 300;
  margin: 0;
  align-self: center;
  font-weight: 400;
  font-size: 1rem;
}

@media (min-width: 800px) {
  .bookTitle {
    font-size: 1.25rem;
  }

  .book {
    min-width: 300px;
    max-width: 400px;
    border-radius: 5% / 50%;
    height: 30px;
  }

  .book:hover {
    background-color: #688db6;
    color: #fafafa;
    transform: scale(1.1);
  }
}
