.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1rem 0 0 0;
  border-top: 2px solid #ff0080;
  min-height: 4rem;
  @media screen and (max-width: 800px) {
    min-height: 2rem;
    margin: 1rem 0 0 0;
  }
}

.copyright {
  font-size: 0.75rem;
  align-self: center;
  color: #474645;
  margin: 1rem 0 0.5rem 0;
}
