.footer {
  display: flex;
  width: 100%;
  margin: 2rem 0;
  border-top: 2px solid #ff0080;
  min-height: 4rem;
}

.poemNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.previous {
  display: flex;
  font-family: "Ubuntu", sans-serif;
  flex-direction: column;

  a {
    color: #474645;
  }
}

.next {
  display: flex;
  font-family: "Ubuntu", sans-serif;
  flex-direction: column;

  a {
    color: #474645;
  }
}

.contentsLink {
  font-family: "Ubuntu", sans-serif;
  cursor: pointer;

  a {
    color: #474645;
  }
}
