.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #ff0080;
}

.navLink {
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.25rem;
  color: #474645;
  margin: 0 1rem;
  cursor: pointer;

  @media screen and (max-width: 800px) {
    font-size: 1rem;
  }
}

.navWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.heading {
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
  font-size: 2rem;
  color: #474645;
  font-weight: 400;

  @media screen and (max-width: 800px) {
    font-size: 1.5rem;
    margin-top: 0;
  }
}
