.header {
  display: flex;
  position: fixed;
  top: 0;
  left: 50%;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 2px solid #ff0080;
  background-color: #e7e4d8;
  height: 80px;
  max-width: 1024px;
  width: 100%;
  margin-left: -512px;
  padding-bottom: 1rem;
  z-index: 1;

  @media screen and (max-width: 700px) {
    max-width: 100vw;
    left: 0;
    width: 100%;
    margin: 0 1rem;
    padding: 1rem 0;
    height: 60px;
  }
}

.navLink {
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.25rem;
  color: #474645;
  margin: 0 1rem;
  cursor: pointer;

  @media screen and (max-width: 800px) {
    font-size: 1rem;
  }
}

.navWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-self: flex-end;
}

.heading {
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
  font-size: 2rem;
  color: #474645;
  font-weight: 400;
  margin: 0;

  @media screen and (max-width: 800px) {
    font-size: 1.5rem;
    margin-top: 0;
  }
}
