.poemNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.previous {
  font-family: "Ubuntu", sans-serif;
  color: #474645;
  text-decoration: none;
  align-items: center;
  padding-top: 1rem;

  &:before {
    color: #474645;
    position: relative;
    top: 2px;
    left: 0;  
    background-image: url(/images/arrow.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    content: " ";
    width: 1rem;
    height: 1rem;
    display: inline-block;
    transform: rotate(180deg);
    margin-right: 0.5rem;
  }
}

.next {
   font-family: "Ubuntu", sans-serif;
  color: #474645;
  text-decoration: none;
  align-items: center;
  padding-top: 1rem;

  &:after {
    color: #474645;
    position: relative;
    top: 2px;
    left: 0;  
    background-image: url(/images/arrow.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    content: " ";
    width: 1rem;
    height: 1rem;
    display: inline-block;
    margin-left: 0.5rem;
  }
}

.contentsLink {
  font-family: "Ubuntu", sans-serif;
  cursor: pointer;

  a {
    color: #474645;
  }
}
